
.container{
background-color: #4bd8fb;
background: #4bd8fb;
background: -webkit-linear-gradient(to right, #4bd8fb, #0491b4);
background: linear-gradient(to right,  #4bd8fb, #0491b4);
/*background-image: url(./image/fond1.jpg);*/
height: 100vh;/*Pilas el vh es muy importante:Recordar*/
display: flex;
align-items: center;
justify-content: center;

}

.content{
	max-width: 1000px;
	max-height: 930px;
	width: 100%;
	height: 100%;
	background-color: #F0F8FF;
	/*box-shadow : diferenciaHorizontal diferenciaVertical desenfoque amplitud color*/
	box-shadow: 0 3px 6px #000;	
	/*	box-shadow: 0 3px 6px rgba(0,0,0,0,16), 0 3px 6px rgba(0,0,0,0,23);
*/
	border-radius: 4px;
}

.imagenesIndex{
	max-width: 1000px;
	max-height: 530px;
	height: 50%;
	width: 100%;
	background-color: #F0F8FF;
	box-shadow: 0 3px 6px #000;	
	border-radius: 4px;
	padding-top: 1em;
}

.containerm{
background-color: #4bd8fb;
background: #4bd8fb;
background: -webkit-linear-gradient(to right, #4bd8fb, #0491b4);
background: linear-gradient(to right,  #4bd8fb, #0491b4);
height: 100vh;/*Pilas el vh es muy importante:Recordar*/
display: flex;
align-items: center;
justify-content: center;
}

.contentm{
	max-width: 960px;
	max-height: 500px;
	width: 100%;
	height: 100%;
	background-color: #F0F8FF;
	/*box-shadow : diferenciaHorizontal diferenciaVertical desenfoque amplitud color*/
	box-shadow: 0 3px 6px #000;	
	/*	box-shadow: 0 3px 6px rgba(0,0,0,0,16), 0 3px 6px rgba(0,0,0,0,23);
*/
	border-radius: 4px;
}

@font-face{

}


h2{
font-family: 'Barlow Semi Condensed', sans-serif;}


p{
font-family: 'Markazi Text', serif;
}

.encabezado{
}

.paragraph{
	line-height: 1.8em; /*Altura de la linea*/
	font-weight: 200;/* Grosor*/
}

.title-item{
	/*border-bottom-style: solid; Linea de abajo del titulo*/
	/*border-width: 2px;  /*Grosor de l linea*/
	/*border-color: #4bd8fb;
	/*border-top-style: dashed; Linea punteada*/
	/*padding-bottom: : 1em; /*Espacio d el linea de encabezado*/
	/*box-shadow: 0 3px 6px rgba(0,0,0,0,16), 0 3px 6px rgba(0,0,0,0,23);*/
	padding-bottom: 1em; 
	border-bottom:  solid 2px #4bd8fb ;  /*Shorthamd properties*/
	/*box-shadow: 0 3px 6px #000;*/

}

.position{
	background-color: #F0F8FF ;
	color: #4bd8fb;
	padding: 10px;
	border-radius: 4px;
}


.encabezado-Index{
	background-color: #4bd8fb;
	background: #4bd8fb;
	background: -webkit-linear-gradient(to right, #4bd8fb, #0491b4);
	background: linear-gradient(to right,  #4bd8fb, #0491b4);
	padding-bottom: 1em; 
	border-bottom:  solid 2px #4bd8fb ;
	padding: 16px;
	height: 100px;


}

.title-Index{
	font-family: 'Titan One', cursive;
	padding-bottom: 1em; 
	/*border-bottom:  solid 2px #4bd8fb ;*/
	max-width: 960px;
	max-height: 200px;
	width: 100%;
	height: 100%;
	margin: 0em auto 0em;
	



}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#0491b4;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4bd8fb;
}
.barra-Index{
	/*width: 50%;
	padding-right:  1em;
	border-radius: 4px;*/
	float: right;
	margin: 0em auto 0em;
	
}


///////////////////////////////////////////

.header {
background-color: #4bd8fb;
background: #4bd8fb;
background: -webkit-linear-gradient(to right, #4bd8fb, #0491b4);
background: linear-gradient(to right,  #4bd8fb, #0491b4);

}




