
body{
	background-color: #7FFFD4

}

.container{
display: flex;
height: 800px;
width: 1000px;
justify-content: center;
align-items: center;
}

.content{
	align-items: center;
	background-color: #F0F8FF;
}



